.App-header {
  background-color: #333;
  padding: 30px;
  color: #FAFAFA;
  padding-bottom: 0px;
}
.hello {
  width: 60%;
  font-size: 22px;
  padding: 50px;
  margin-right: -50px;
}
.photo {
  text-align: center;
  margin-top: 0px;
  padding-left: 50px;
}
@media(max-width: 600px) {
  .photo{display: none};
}
.tabs>div {
  background-color: #222 !important;
}
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}

/* Card Stuff */
.btn {

}
.logo {
  height: 32px;
  filter: grayscale(30%);
}
.logo.big {
  height: 42px;
}
.buttons {
  margin-top: 5px;
}
.card {
  margin-top: 20px !important;
}
.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.cardTitle {
  letter-spacing: -1px;
}
.content {
  padding: 50px;
  padding-top: 30px;
}
.cardText {
  padding-top: 0px !important;
  font-size: 18px !important;
  font-family: 'Roboto', sans-serif;
}
.cardText a, .cardText a:visited {
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  color: #1a237e;
}
.marg {
  margin: 10px 25px 10px 15px;
  opacity: 0.5;
}
.icon {
  width: 52px !important;
  height: 52px !important;
  padding: 10px 25px 10px 15px;
  opacity: 0.5;
  transition: opacity 1s ease;
}
tr {cursor: default; opacity: 0.9;}
tr:hover>td>div {opacity: 1.0}
p {
  text-align: center;
}
img.ss {
  padding: 10px;
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
}